[submodule "themes/crab"]
	path = themes/crab
	url = https://github.com/thomasheller/crab
[submodule "themes/alpenfrisch"]
	path = themes/alpenfrisch
	url = https://github.com/limoges/alpenfrisch.git
